/* line 1, /home/aapc/policlinico/san_vicente/app/assets/stylesheets/pdf.css.scss */
tr {
  border-bottom: solid;
  border-width: 2px;
  border-color: #2f5b70;
}

/* line 7, /home/aapc/policlinico/san_vicente/app/assets/stylesheets/pdf.css.scss */
td, th {
  text-align: left;
}

/* line 10, /home/aapc/policlinico/san_vicente/app/assets/stylesheets/pdf.css.scss */
th {
  background-color: #2f5b70;
  color: white;
}

/* line 15, /home/aapc/policlinico/san_vicente/app/assets/stylesheets/pdf.css.scss */
table, tr, td, th, tbody, thead, tfoot {
  page-breake-inside: avoid !important;
}

/* line 18, /home/aapc/policlinico/san_vicente/app/assets/stylesheets/pdf.css.scss */
row {
  margin-left: 80px;
}
