<aside class="main-sidebar">
  <section class="sidebar" style="height: auto;">
    <div class="user-panel">
      <div class="pull-left image">
        <% if !current_user.avatar.url(:profile_sidebar).include? '/avatars/profile_sidebar/missing.png' %>
        <%= image_tag current_user.avatar.url(:profile_sidebar), alt:'User Image', class: "img-circle" %>
        <% else %>
        <%= image_tag ('default-profile.jpg'), alt:'User Image', class: "img-circle" %>
        <% end %>
      </div>
      <div class="pull-left info">
        <% if user_signed_in? %>
        <p><%= current_user.email if !current_user.name.present? %></p>
        <p><%= current_user.name %></p>
        <% end %>
      </div>
    </div>
    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">PANEL PRINCIPAL</li>
      <% if user_signed_in? && current_user.role_id != 'medical'%>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Empresas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/enterprises"><i class="fa fa-circle-o"></i> Ver todas</a></li>
          </ul>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.role_id != 'medical'%>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-child"></i> <span>Empleados</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/employees"><i class="fa fa-circle-o"></i> Ver todos</a></li>
          </ul>
        </li>
      <% end %>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>Atenciones</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <li><a href="/attentions"><i class="fa fa-circle-o"></i> Ver todas</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Áreas</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: none;">
          <% if user_signed_in? && current_user.role_id == 'medical'%>
            <li><a href="/type_exams"><i class="fa fa-circle-o"></i> Exámenes</a></li>
          <% else %>
            <li><a href="/areas"><i class="fa fa-circle-o"></i> Ver todas</a></li>
            <li><a href="/type_exams"><i class="fa fa-circle-o"></i> Exámenes</a></li>
          <% end %>
        </ul>
      </li>
      <% if user_signed_in? && current_user.role_id != 'medical'%>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-fw fa-odnoklassniki"></i>
            <span>Médicos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="display: none;">
            <li><a href="/medicals"><i class="fa fa-circle-o"></i> Ver todos</a></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </section>
</aside>
