<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <%= form_for @user, html: { class: 'forms-horizontal'  }  do |f| %>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <%= f.text_field :email, class: "form-control input-sm" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
